* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #000;
}

.hidden {
  display: none !important;
}

.tetris-box {
	visibility: hidden;
	&.active {
		visibility: visible;
  }
  &__title {
    color: #fff;
    text-align: center;
  }
  &__window {
    margin-top: 20px;
  }
}

.window {
  position: relative;
  &__main {
    box-sizing: content-box;
    border: 5px solid snow;
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 700px;
    overflow: hidden;
  }
  &__cell {
    width: 50px;
    height: 50px;
  }
  &__tetris {
    width: 500px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: #333;
  }
  &__accessory {
    box-sizing: content-box;
    border: 5px solid snow;
    position: absolute;
    top: 0;
    right: 20px;
  }
}

.accessory {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 200px;

  .table-preview {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    background-color: #333;

    .item {
      width: 25%;
      height: 50px;
    }
  }

  .stat {
    width: 100%;

    input {
      margin-top: 10px;
      width: 100%;
      padding: 5px 20px;
      font-size: 14px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

// ======================================
.green {
  background-color: #33ff00;
  border: 5px solid;
  border-top-color: snow;
  border-left-color: #aaff00;
  border-right-color: #00aa00;
  border-bottom-color: #006600;
}
.set {
  background-color: magenta;
  border: 5px solid;
  border-top-color: snow;
  border-left-color: #ffaaff;
  border-right-color: #aa00aa;
  border-bottom-color: #660066;
}
.figure {
	background-color: #ff6666;
  border: 5px solid;
  border-top-color: snow;
  border-left-color: #ffaaaa;
  border-right-color: #aa0000;
  border-bottom-color: #660000;
}
// ======================================
.tetris * {
	box-sizing: border-box;
}

.tetris-game .title {
	text-align: center;
	padding-right: 200px;
}

.new-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);

	&-box {
		padding: 100px;
		background-color: deepskyblue;

		button {
			border: none;
			background-color: snow;
			padding: 24px;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: bold;
      cursor: pointer;
			&:focus {
				border: none;
				outline: 0;
			}
		}
	}
}





